@import "./cold-lib.scss";
@import "../node_modules/bulma/bulma.sass";

$black: #16161d;
$white: #ffffff;
$yellow: #fcca46;
$orange: #fe7f2d;
$indigo: #233d4d;
$green: #a1c181;
$teal: #619b8a;

@mixin calistoga($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Calistoga", cursive;
}

@mixin roboto($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: $black;
}

h1,
h2 {
  @include calistoga($color: $yellow, $size: 42pt);
}

.navbar {
  background-color: $indigo;
  .navbar-item {
    color: $white;
    &:hover {
      background-color: $teal;
      color: $yellow;
    }
  }
}

.loading {
  opacity: 1;
  position: sticky;
  pointer-events: none;
  z-index: 40;
  top: 0;
  height: 100vh;
  margin-bottom: -100vh;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  .load-body {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .load-ball {
      width: 30px;
      height: 30px;
      background-color: $yellow;
      border-radius: 5px;
      margin: 10px;
    }
    .load-ball-1 {
      transform: translateY(10px);
    }
    .load-ball-2 {
      transform: translateY(20px);
    }
    .load-ball-3 {
      transform: translateY(30px);
    }
  }
}

html {
  overflow-y: auto;
}
