@import "./cold-lib.scss";
@import "../node_modules/bulma/bulma.sass";

$black: #16161d;
$white: #ffffff;
$yellow: #fcca46;
$orange: #fe7f2d;
$indigo: #233d4d;
$green: #a1c181;
$teal: #619b8a;

@mixin calistoga($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Calistoga", cursive;
}

@mixin roboto($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Roboto", sans-serif;
}

@keyframes flipIn {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

html {
  background-size: cover;
  overflow-y: auto;
}

h1,
h2 {
  @include calistoga($color: $yellow, $size: 42pt);
}

#canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  position: sticky;
  top: 0;
  margin-bottom: -100vh;
  background-color: $black;
  z-index: -5;
}

.navbar {
  background-color: rgba($indigo, 0.5);
  .navbar-item {
    color: $white;
    &:hover {
      background-color: $indigo;
      color: $yellow;
    }
  }
}

.loading {
  opacity: 0;
  position: sticky;
  pointer-events: none;
  z-index: 40;
  top: 0;
  height: 100vh;
  margin-bottom: -100vh;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  .load-body {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .load-ball {
      width: 30px;
      height: 30px;
      background-color: $yellow;
      border-radius: 5px;
      margin: 10px;
    }
    .load-ball-1 {
      transform: translateY(10px);
    }
    .load-ball-2 {
      transform: translateY(20px);
    }
    .load-ball-3 {
      transform: translateY(30px);
    }
  }
}

.primary-content {
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.content-cards {
  background-color: rgba($black, 0.5);
  backdrop-filter: blur(8px);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    animation: 0.2s ease-out 0s 1 flipIn;
    max-width: 300px;
    margin: 10px;
  }
}
.right-content {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.poster {
  width: 75%;
  margin: 20px;
  cursor: pointer;
}
.loading-gif {
  width: 50%;
  margin: 30px;
}
.crawl {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  padding: 10px;

  p {
    color: $white;
  }
}
